{% extends "base.html" %} {% block content %}
<div class="login-container">
  <form
    id="loginForm"
    action=""
    method="post"
    class="w3-container w3-round w3-border w3-margin"
    novalidate
  >
    <h6 class="text-center w3-margin">Login</h6>
    {{ form.hidden_tag() }}
    <label for="#username">Username or email</label>
    {{ form.username(size=32, id="username", placeholder="Enter username or
    email", class="w3-input w3-border w3-round") }} {% for error in
    form.username.errors %}
    <span style="color: red">{{ error }}</span>
    {% endfor %}
    <br />

    <label for="#password">Password</label>
    {{ form.password(size=32,id="password", placeholder='Enter Password',
    class="w3-input w3-border w3-round" ) }} {% for error in
    form.password.errors %}
    <span style="color: red">{{ error }}</span>
    {% endfor %}
    <br />
    {{ form.submit(class="w3-button w3-block w3-blue w3-margin-bottom",
    type="submit") }}
    <label>
      {{ form.remember_me(checked="checked", type="checkbox", class="w3-check
      w3-small") }} Remember me
    </label>
    <hr />
    <p>
      Forgot
      <a href="{{ url_for('auth.reset_password_request') }}">password?</a>
    </p>
    <p>
      New User ?
      <a href="{{ url_for('auth.register') }}">Click to register</a>
    </p>
  </form>
</div>

{% endblock %}
