{% extends "base.html" %} {% block content %}

<div class="reset-passsword-request">
  <h4 class="text-center">Reset Password</h4>
  <form
    action=""
    method="post"
    class="w3-container w3-border w3-margin w3-round"
    novalidate
  >
    <label class="w3-margin-top" for="#email">{{ form.email.label }}</label>
    {{ form.hidden_tag() }} {{ form.email(size=64, class="w3-input w3-border
    w3-round", placeholder='example@email.com') }} {% for error in
    form.email.errors %}
    <span style="color: red">{{ error }}</span>
    {% endfor %}
    <br />
    {{ form.submit(class="w3-btn w3-block w3-blue w3-round w3-margin-bottom") }}
  </form>
</div>

{% endblock %}
