{% if message.author==current_user %}
<div class="chat-container chat-darker">
  <img src="{{ current_user.avatar(30) }}" alt="Avatar" class="right" />
  <p>{{ message.body }}</p>
  <span class="chat-time-left"
    >{{ moment(message.timestamp).fromNow(refresh=True) }}</span
  >
</div>
{% else %}
<div class="chat-container">
  <img src="{{user.avatar(30) }}" alt="Avatar" />
  <p>{{ message.body }}</p>
  <span class="chat-time-right"
    >{{ moment(message.timestamp).fromNow(refresh=True) }}</span
  >
</div>
{% endif %}
