<div class="w3-border-0 w3-border-left w3-row-padding" id="{{comment.id}}">
  <div class="mt-3">
    <strong>{{comment.author.username}}</strong>
    {% if comment.parent_id == None %} replying to
    <strong> {{post.author.username }}</strong> {% elif
    comment.reply.author.username %}replying to
    <strong> {{ comment.reply.author.username }} </strong>{% endif %}

    <small class="text-muted"
      >{{ moment(comment.timestamp).fromNow(refresh=True) }}</small
    >
  </div>
  <div class="w3-border w3-padding-small w3-round">
    <p>{{comment.body}}</p>

    {% if current_user.is_authenticated %}
    <div class="w3-bar">
      {% if not current_user.has_liked_comment(comment) %}
      <form
        class="w3-button w3-hover-white"
        action="{{ url_for('main.like_comment', comment_id=comment.id)}}"
        method="post"
      >
        <button
          type="submit"
          value="Like"
          class="w3-border-0 w3-button w3-hover-white"
        >
          <i class="fa fa-thumbs-up" style="font-size: 15px"></i>
          {{comment.likes.count()}}
        </button>
      </form>

      {% else %}

      <form
        class="w3-button w3-hover-white"
        action="{{ url_for('main.unlike_comment', comment_id=comment.id)}}"
        method="post"
      >
        <button
          type="submit"
          value="Unlike"
          class="w3-border-0 w3-button w3-hover-white"
        >
          <i class="fa fa-thumbs-down" style="font-size: 15px"></i>
          {{comment.likes.count()}}
        </button>
      </form>

      {% endif %}
      <button
        class="w3-border-0 w3-button w3-hover-white"
        onclick="handleReply({{ comment.id }})"
      >
        <i class="fa fa-comment" style="font-size: 15px"></i>
        {{ comment.replies.count() }}
      </button>
    </div>
    {% if form %}
    <div id="reply-form-container-{{comment.id}}" style="display: none">
      <form method="post" action="{{ url_for('main.reply') }}" class="mt-3">
        {{ form.hidden_tag() }}
        <input type="hidden" name="post_id" value="{{post.id}}" />
        <input type="hidden" name="parent" value="{{comment.id}}" />

        {{ form.comment(class='form-control')}}

        <div>
          <button
            type="button"
            onclick="handleCancel({{comment.id}})"
            class="w3-small w3-button"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="w3-buttton w3-border-0 w3-blue w3-small w3-round"
          >
            reply
          </button>
        </div>
      </form>
    </div>
    {% endif %} {% endif %}
  </div>

  <div>
    {% for reply in comment.replies %} {% with comment=reply %} {% include
    'main/_comments.html' %} {% endwith %} {% endfor %}
  </div>
</div>
