<!-- <footer class="w3-container w3-padding-16"></footer> -->
<footer class="w3-hide-small w3-bar w3-margin w3-border-top w3-container">
  <div class="w3-bar-item">
    <a href="" target="_blank" style="font-family: Pethafis">Banti</a>
  </div>
  <div class="w3-bar-item text-muted">Terms & Conditions</div>
  <div class="w3-bar-item">
    <small class="text-muted">
      <b> A software company</b>
      <small class="text-muted" style="font-style: italic"
        >Living the Day Dream</small
      >
    </small>
  </div>
  <div class="w3-bar-item">
    <a
      href="https://twitter.com/AAnabanti"
      target="_blank"
      style="text-decoration: none"
      rel="noreferrer noopener"
      ><i class="fa fa-twitter" style="font-size: 30px"></i>Twitter</a
    >
  </div>
  <div class="w3-bar-item">
    <a
      class=""
      href="https://www.instagram.com/__akachi__"
      target="_blank"
      style="text-decoration: none"
      rel="noreferrer noopener"
    >
      <i class="fa fa-instagram" style="font-size: 30px"></i>
      Instagram
    </a>
  </div>

  <span class="w3-bar-item">&copy; 2022</span>
</footer>
