<!-- <footer class="w3-container w3-padding-16"></footer> -->
<footer class="w3-hide-small w3-margin w3-border-top w3-container">
  <div class="w3-row w3-margin-top">
    <p class="w3-col m3">
      <a href="" target="_blank" style="font-family: Pethafis">Banti</a>
    </p>
    <p class="w3-col m4 text-muted">Terms & Conditions</p>
    <small class="W3-col text-muted">
      <b> A software company</b>
      <small class="text-muted" style="font-style: italic"
        >Living the Day Dream</small
      >
    </small>
  </div>
  <div class="w3-row">
    <p>Connect with us</p>
    <p class="w3-col m4">
      <i class="fa fa-twitter" style="font-size: 30px"></i>Twitter
    </p>
    <p class="w3-col m6">
      <a class="" href="http://" target="_blank" style="text-decoration: none">
        <i class="fa fa-instagram" style="font-size: 30px"></i>
        Instagram
      </a>
    </p>
  </div>

  <span>&copy; 2022</span>
</footer>
