<div class="w3-border-bottom w3-opacity">
  <a
    class=""
    href="{% if g.prev %}{{g.prev}} {% else %}{{url_for('main.index')}} {% endif %}"
  >
    <i
      class="fa fa-arrow-left w3-margin-left"
      style="font-size: 25px; color: black; font-weight: lighter"
    ></i
  ></a>
</div>
<div class="w3-border-bottom" style="position: relative">
  <div
    style="
      background-image: url('https://source.unsplash.com/random/');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: grey;
      height: 200px;
    "
  ></div>
  <img
    class="text-center"
    src="{{ user.avatar(30) }}"
    alt="profile photo"
    style="
      height: 150px;
      width: 150px;
      border-radius: 100%;
      border: 5px solid whitesmoke;
      display: inline-block;
      position: absolute;
      top: 25%;
      left: 2%;
    "
  />

  <div
    class="w3-margin"
    style="
      position: absolute;
      right: 2%;
      z-index: 0.2;
      top: 50%;
      display: inline-flex;
    "
  >
    {% if user == current_user %}
    <a
      class="w3-round-xlarge w3-button w3-border"
      style="text-decoration: none"
      href="{{ url_for('bp.edit_profile')}}"
      >Edit Profile</a
    >
    {% elif current_user.is_anonymous or not current_user.is_following(user) %}
    <form
      action="{{ url_for('bp.follow', username=user.username) }}"
      method="post"
    >
      {{ form.hidden_tag() }} {{ form.submit(value='Follow',class="btn
      btn-primary")}}
    </form>
    {% else %}
    <a href="{{url_for('main.chat', username=user.username)}}"
      ><i
        class="fa fa-paper-plane w3-button w3-margin-right w3-hover-white w3-hover-opacity"
        style="font-size: 25px"
        aria-hidden="true"
      ></i
    ></a>
    <form
      action="{{ url_for('bp.unfollow', username=user.username) }}"
      method="post"
    >
      {{ form.hidden_tag() }} {{ form.submit(value='Unfollow', class="btn
      btn-secondary") }}
    </form>
    {% endif %}
  </div>

  <div style="margin-left: 1%; padding-top: 70px">
    <p class="w3-margin-left" style="font-size: 30px">{{ user.fullName }}</p>
    <p class="w3-margin-left" style="font-size: 20px; font-style: italic">
      <b><i class="fa fa-at"></i>{{user.username}}</b>
    </p>
    {% if user.about_me %}
    <p style="margin-top: 10px">
      <i class="fa fa-info fa-fw w3-text-theme"></i> {{user.about_me}}
    </p>
    {% endif %}

    <p>
      <i class="fa fa-calendar"></i> Joined {{ moment(user.member_since
      ).format('LL') }}
    </p>
    <p>
      <b>{{ user.followers.count() }} </b>Followers,
      <b>{{ user.followed.count() }}</b> Following
      <a href="{{ url_for('main.userfollowers', username=user.username)}}"
        ><small class="text-muted">see detail</small></a
      >
    </p>
  </div>
</div>
