{% extends "base.html" %} {% block page_content %}

<h4 class="w3-marign text-center">Edit Profile</h4>
<div class="w3-margin">
  <img
    src="{{ current_user.avatar(50) }}"
    alt=""
    loading="lazy"
    class="w3-circle w3-border w3-border-black"
  />
  <h5 class="text-muted w3-margin">{{current_user.fullName }}</h5>
</div>
<hr />
<div class="w3-margin w3-display-container">
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <p class="">
      <label for="#username">{{ form.username.label }} </label>
      {{ form.username(size=32, class='w3-input w3-border', id='username') }} {%
      for error in form.username.errors %}
      <span style="color: red">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p class="">
      <label for="#about_me">{{ form.about_me.label }}</label>
      {{ form.about_me(cols=50, row=4, class='w3-input w3-border',
      id='about_me') }} {% for error in form.about_me.errors %}
      <span style="color: red">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{form.submit(class='w3-button w3-green w3-round') }}</p>
  </form>
</div>

{% endblock %}
