.reset-passsword-request form {
  background-color: whitesmoke;
}
.reset-passsword-request {
  margin-left: 37.5%;
  margin-right: 37.5%;
  width: 25%;
  margin-top: 5%;
}
.reset-passsword-request form span {
  text-transform: lowercase;
  text-shadow: 5px;
  font-style: italic;
}

.reset-passsword-request form #email:focus {
  outline: 1px solid steelblue;
}
