<div class="mx-2">
  <a href="{{ url_for('user', username=post.author.username )}}">
    <img
      class="rounded-circle me-2"
      src="{{ url_for('serve_photo', username=post.author.username) }}"
      alt=""
      width="50"
      height="50"
    />
  </a>
  <span
    ><a href="{{ url_for('user', username=post.author.username )}}"
      >@{{post.author.username}}</a
    >
    <span class="text-muted"
      >{{ moment(post.timestamp).fromNow(refresh=True) }}</span
    >
  </span>
  <div>
    <p>{{ post.body }}</p>
  </div>
  <div>
    <div class="footer">
      {% if not current_user.is_anonymous %} {% if not current_user.liked(post)
      %}
      <form action="{{ url_for('like', post_id=post.id)}}" method="post">
        <button
          type="submit"
          value="Like"
          class="btn btn-primary btn-sm rounded-pill"
        >
          Like
          <span class="badge bg-secondary">{{post.likes.count()}}</span>
        </button>
      </form>

      {% else %}
      <form action="{{ url_for('unlike', post_id=post.id)}}" method="post">
        <button type="submit" value="Unlike" class="btn btn-primary">
          Unlike
          <span class="badge bg-secondary">{{post.likes.count()}}</span>
        </button>
      </form>
      {% endif %}
      <small>{{post.comments.count()}} Comments</small>
      <a href="{{url_for('post_detail', id=post.id)}}">Expand</a>
      {% endif %}
    </div>
  </div>
</div>
