<!DOCTYPE html>
<html>
  <head>
    {% if title %}
    <title>Banti/{{ title }}</title>
    {% else %}
    <title>Banti/Home</title>
    {% endif %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../static/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../static/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../static/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="../static/favicon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="../static/favicon/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://www.w3schools.com/lib/w3-theme-blue-grey.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- Pathefis font for Title -->
    <link href="https://fonts.cdnfonts.com/css/pethafis" rel="stylesheet" />

    <!----BOOTSTRAP EXTRA-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css
"
    />
    <!-- custom css -->
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/badge_design.css" />
    <link rel="stylesheet" href="../static/css/smallNav.css" />
    <link rel="stylesheet" href="../static/css/login.css" />
    <link rel="stylesheet" href="../static/css/register.css" />
    <link rel="stylesheet" href="../static/css/message_alert.css" />
    <link rel="stylesheet" href="../static/css/password_show.css" />
    <link rel="stylesheet" href="../static/css/chat.css" />

    <link rel="stylesheet" href="../static/css/reset_password.css" />
  </head>
  <body class="w3-theme-15">
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div
      id="messageAlert"
      class="w3-container w3-display-container {% if category == 'message' %} w3-green {% elif category=='error' %} w3-red {% elif category=='warning' %} w3-yellow {% else %} w3-blue {% endif %} w3-round"
    >
      <span
        onclick="this.parentElement.style.display='none'"
        class="w3-button w3-border-0 w3-margin-left w3-right w3-small"
      >
        <i class="fa fa-remove"></i>
      </span>
      <p class="w3-left w3-margin-right">{{ message }}</p>
    </div>
    {% endfor %} {% endif %} {% endwith %} {% if current_user.is_authenticated
    %}
    <!-- Navbar -->

    {% include 'main/_sidebar_home.html' %}

    <!-- Navbar on small screens -->
    <div class="w3-top">
      <div id="smallNavbar" class="w3-bar">
        <h4 class="w3-bar-item" style="font-family: Pethafis">Banti</h4>
        <div id="SmallNavItems">
          {% if g.search_form %}
          <form
            class="w3-bar-item"
            action="{{ url_for('main.search')}}"
            method="get"
          >
            <div>
              {{ g.search_form.q(size=20,
              class="w3-input",type="text",placeholder="Search..",
              id="example-search-input")}}
            </div>
          </form>
          {% endif %}
          <a
            href="{{url_for('main.notification_list')}}"
            class="w3-bar-item w3-button"
          >
            <i class="my-base-badge fa fa-bell">
              {% set new_notificaton = current_user.new_pusher_notifications()
              %}
              <div
                id="notification_badge_small"
                class="my-badge-indicator"
                style="display: {% if new_notification %} block {% else %} none {% endif %}"
              ></div>
            </i>
          </a>
          <a
            id="userMenuSmall"
            tabindex="0"
            data-bs-toggle="popover"
            data-bs-trigger="focus"
            data-bs-placement="bottom"
            class="w3-bar-item w3-button"
          >
            <i class="fa fa-ellipsis-v"></i
          ></a>
        </div>
      </div>
    </div>
    {% endif %}

    <!-- Page Container -->

    {% block content %}
    <div class="main-content w3-container w3-content" style="max-width: 1400px">
      <!-- The Grid -->
      <div id="main" class="w3-row">
        <!-- Left Column -->

        <!-- Middle Column -->
        <div class="w3-col m8 w3-border">
          <br />

          {% block page_content %} {% endblock %}
        </div>

        <!-- Right Column -->
        <div class="w3-col m4" style="margin-top: 20px; max-height: 70px">
          {% block right_column %}{% endblock %}
        </div>

        <!-- End Grid -->
      </div>

      <!-- End Page Container -->
    </div>
    {% endblock %}

    <br />
    {% block scripts %} {{ moment.include_moment() }} {{
    pagedown.include_pagedown() }}

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
      integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.3.js"
      integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
      crossorigin="anonymous"
    ></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script> -->

    {% if current_user.is_authenticated %}
    <script src="../static/js/reply.js"></script>
    <script src="../static/js/message.js"></script>
    <script src="../static/js/tasks.js"></script>
    <script src="../static/js/notifications.js"></script>
    <script src="../static/js/modal_post.js"></script>
    <script src="../static/js/searchbar.js"></script>
    <script src="../static/js/accordion.js"></script>
    <script src="../static/js/navabar_toggler.js"></script>
    <script src="../static/js/typing.js"></script>
    <script src="../static/js/createPostModal.js"></script>
    <script src="../static/js/holiday.js"></script>
    {% endif %}{% endblock %}

    <!-- <script src="../static/assets/dist/js/menu_popover.js"></script> -->
    {% if current_user.is_authenticated %}
    <script>
      $(function () {
        var timer = null;
        var xhr = null;
        $(".user_popup").hover(
          function (event) {
            // mouse in event handler
            var elem = $(event.currentTarget);
            timer = setTimeout(function () {
              timer = null;
              xhr = $.ajax(
                "/user/" + elem.first().text().trim() + "/popup"
              ).done(function (data) {
                // ALLOWED attributes
                var myDefaultAllowList = bootstrap.Tooltip.Default.allowList;

                // // // To allow table elements
                // myDefaultAllowList.table = [];
                // // To allow td elements and data-bs-option attributes on td elements
                // myDefaultAllowList.tr = ["data-bs-option"];

                myDefaultAllowList.form = ["action", "method", "novalidate"];
                myDefaultAllowList.input = ["type", "value", "style"];
                myDefaultAllowList.img = ["style", "src"];
                myDefaultAllowList.i = ["style"];
                xhr = null;
                elem
                  .popover({
                    trigger: "manual",
                    html: true,
                    sanitize: false,
                    animation: false,
                    container: elem,
                    content: data,
                  })
                  .popover("show");
                flask_moment_render_all();
              });
            }, 100);
          },
          function (event) {
            // mouse out event handler
            var elem = $(event.currentTarget);
            if (timer) {
              clearTimeout(timer);
              timer = null;
            } else if (xhr) {
              xhr.abort();
              xhr = null;
            } else {
              elem.popover("dispose");
            }
          }
        );
      });
      //USERMENU SIDEMENU POPOVER
      let username = "{{ current_user.username}}";
      $("#userMenu").click(function (event) {
        var myDefaultAllowList = bootstrap.Tooltip.Default.allowList;

        myDefaultAllowList.a = ["style"];

        var elem = $(event.currentTarget);
        html = `<div id="userMenuOptions" class="w3-container">
                <div class="w3-bar-block w3-margin" >
                  <a href="/auth/login" class="w3-bar-item" style="text-decoration:none;" > Login to another account </a>
                  <hr class="w3-clear" />
                  <a href="/auth/logout" class="w3-bar-item" style="text-decoration:none;">Logout out of ${username}</a>
                </div>
            </div> `;
        elem
          .popover({
            trigger: "manual",
            html: true,
            sanitize: false,
            animation: false,
            container: "body",
            content: html,
          })
          .popover("show");
        setTimeout(function () {
          elem.popover("dispose");
        }, 4000);
      });
      //MENU POPOVER SCRIPT
      //small screen
      $("#userMenuSmall").click(function (event) {
        var myDefaultAllowList = bootstrap.Tooltip.Default.allowList;

        myDefaultAllowList.a = ["style"];

        var elem = $(event.currentTarget);
        html = `<div id="userMenuOptions" class="w3-display-container">
                <div class="w3-bar-block" >
                  <a href="/activities" class="w3-bar-item" style="text-decoration:none" > <i class="fa fa-lightbulb-o fa-fw"></i> Activites</a>
          
                </div>
                <hr class="w3-clear" />
                <div>
                <a href="/auth/logout" style="text-decoration:none;">Logout out of ${username}</a>
                </div>
            </div> `;
        elem
          .popover({
            trigger: "manual",
            html: true,
            sanitize: false,
            animation: false,
            container: "body",
            content: html,
          })
          .popover("show");
        setTimeout(function () {
          elem.popover("dispose");
        }, 4000);
      });
    </script>
    {% endif %}
  </body>
</html>
