<div class="w3-card w3-margin-left w3-round w3-white w3-center">
  <div class="w3-container">
    <p class="w3-margin">Upcoming Events:</p>
    <img id="holidayImage" src="" alt="" height="50px" loading="lazy" />
    <div class="w-margin"><strong id="NameOfHoliday"></strong></div>
    <p class="text-muted" id="dayOfHoliday"></p>
    <p>
      <button
        class="w3-button w3-block w3-green"
        onclick="this.parentElement.parentElement.style.display='none'"
      >
        Info
      </button>
    </p>
  </div>
</div>
<br />
