{% extends "base.html" %} {% block content %} {% if
current_user.is_authenticated %} {% if form %}
<form class="mb-4 mt-4" action="" method="post">
  {{ form.hidden_tag() }}
  <div class="form-floating">
    {{ form.post(class="form-control", id="postForm") }}
    <label for="postForm">What is on your mind?</label>
  </div>
  <div class="mt-2">{{ form.submit(class="btn btn-primary") }}</div>
</form>
{% endif %} {% endif %}
<hr />

{% for post in posts %} {% with post=post %} {% include "_post.html "%} {%
endwith %}

<hr />
{% endfor %} {% include "_pager.html" %} {% endblock %}
